@model BibleApp.Models.PassageViewModel

@{
    ViewData["Title"] = "Passage";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>@Model.Passage.BookName - Chapter @Model.Passage.ChapterNumber : Verse @Model.Passage.PassageStart - @Model.Passage.PassageEnd</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            @foreach (var verse in Model.Passage.Verses)
            {
                @Html.Raw((verse.verseNumber) + " " + verse.Text + " ")
            }
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        @using (Html.BeginForm("AddPassageToUserPassages", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.AddPassage.BookName)
            @Html.HiddenFor(x => x.AddPassage.ChapterNumber)
            @Html.HiddenFor(x => x.AddPassage.StartVerse)
            @Html.HiddenFor(x => x.AddPassage.EndVerse)
            <button type="submit">Save Passage for Later</button>
        }
    </div>
</div>
