@model BibleApp.Models.PassageViewModel
@{
    ViewData["Title"] = "Passage";
}

<div id="passageContainer">
    @Html.React("PassageViewComponent", new
{
    bookName = Model.Passage.BookName,
    chapterNumber = Model.Passage.ChapterNumber,
    passageStart = Model.Passage.PassageStart,
    passageEnd = Model.Passage.PassageEnd
    })
</div>
<div class="row">
    <div class="col-md-12 ">
        @using (Html.BeginForm("AddPassageToUserPassages", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.AddPassage.BookName)
            @Html.HiddenFor(x => x.AddPassage.ChapterNumber)
            @Html.HiddenFor(x => x.AddPassage.StartVerse)
            @Html.HiddenFor(x => x.AddPassage.EndVerse)
            <button type="submit">Save Passage for Later</button>
        }
    </div>
</div>

<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="@Url.Content("~/js/Components/PassageViewComponent.jsx")"></script>
@Html.ReactInitJavaScript()
